@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/* ========== CSS Variables =========== */
:root {
  --primaryColor: #ff5e3a;
  --defaultColor: #4f5665;
  --blackColor: #000;
  --greyColor: #f0f0f0;
  --whiteColor: #fff;
  --lightpink: #ffcce0;
  --blue: #1a1aff;
  --custom: #1a1aff;
  --color: #4d4d4d;
  --lightblue: #ccccff;
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 5px 15px rgba(255, 94, 58, 0.2);
  --gradient: linear-gradient(to bottom, #fccb90, #ff9a9e);
  --btn-gradient: linear-gradient(to bottom, #ff5151 50%, #ff5e3a);
}

/* *,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
} */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
}

.products {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.product-title,
.product-price-container,
.product-description {
  padding: 0.5rem 0;
}

.product-price-container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* swiper */
.swiper {
  width:200px;
  height: 100px;
}

.swiper-slide {
  margin-right: 5px;
}

.swiper-wrapper {
  transition-timing-function: linear;
}